.RData
*.RData
.Rhistory
.Rproj.user
.Rproj.user/*

app/*.nb.html

app/git_exclude/

app/data/timer.log
app/data/*.log
app/data/*_cache.csv
app/data/*_cache.Rds
app/data/cache/*
app/data/log/*.log
.DS_Store

rsconnect/

*/.DS_Store
.httr-oauth
infection_rate/data/*

*/rsconnect/*

READI-SCRUB/
READI-SCRUB/*

.httr-oauth*